.chapter-section {
  display: flex;
  position: relative;
  z-index:999 ;
  flex-direction: column;
  align-items: center;
  .chapters {
    margin-bottom: 62px;
    padding-top: 157px;
    display: flex;
    justify-content: center;
    .chapter {
      position: relative;

      background-image: url("../images/chapter-cont.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 130px;
      height: 124px;

      border-radius: 10px;
      padding: 15px;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-family: "OldAntique";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 114.95%;
        /* identical to box height, or 23px */

        display: flex;
        align-items: center;

        color: #fafafa;

        text-shadow: -10px 10px 24px rgba(250, 250, 250, 0.4),
          7px 0px 25px rgba(250, 250, 250, 0.6);
      }
    }
  }
  button.order-button {
    cursor: pointer;
    border: 1px solid rgba(228, 142, 22, 1);
    height: 75px;
    width: 241px;
    position: relative;

    background: rgba(0, 0, 0, 0.9);
    border: 1px solid #e48e16;
    box-shadow: 0px 0px 17px 4px rgba(228, 142, 22, 0.39),
      inset 0px 0px 25px 3px #f6e798;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;

    color: #e48e16;
    .triangle {
      position: absolute;
      &.triangle1 {
        position: absolute;
        width: 0;
        height: 0;
        top: -2px;
        left: -8px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgba(80, 74, 47, 0.5);
        z-index: 1;
        transform: rotate(315deg);
      }
      &.triangle2 {
        position: absolute;
        width: 0;
        height: 0;
        bottom: -2px;
        left: -8px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgba(80, 74, 47, 0.5);
        z-index: 1;
        transform: rotate(225deg);
      }
      &.triangle3 {
        position: absolute;
        width: 0;
        height: 0;
        bottom: -2px;
        right: -8px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgba(80, 74, 47, 0.5);
        z-index: 1;
        transform: rotate(-225deg);
      }
      &.triangle4 {
        position: absolute;
        width: 0;
        height: 0;
        top: -2px;
        right: -8px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid rgba(80, 74, 47, 0.5);
        z-index: 1;
        transform: rotate(-315deg);
      }
    }
  }
}
